html
    body
        head
            link(rel="stylesheet", href="css/app.min.css")

        header.header
            a.header__logo
                .logo__img
                span.logo__name mamon

            nav.header__menu
                ul.menu
                    a(href="/")
                        li.menu__item Services
                    a(href="/")
                        li.menu__item Clients
                    a(href="/")
                        li.menu__item Our team
                    a(href="/")
                        li.menu__item Contact Us

