@mixin slider-menu($direction: 'x', $background: grey){
  z-index: 9;
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: $background;
  right: 0;
  @if ($direction == 'y') {
    bottom: 0;
    margin-bottom: 100%;
  } @else if ($direction == 'x') {
    top: 0;
    margin-right: 100%;
  }

  &.-active {

    @if ($direction == 'y') {
      margin-bottom: 0;
    } @else if ($direction == 'x') {
      margin-right: 0;
    }
  }
}